$font-family: 'Inter', sans-serif;

// Colors
$primary-color: #445bc7;
$secondary-color:#F0FFFA ;
$success-color:#2D715B;
$white-color: #FFFFFF;
$danger-color:#B42318;
$gray:#696871;

// Background colors
$primary-bg-color: #445bc7;
$bg-white: #FFFFFF;

body {
   padding-right: 0 !important;
   overflow: auto !important;
}
:root {
   --primary-color:#445bc7;
   --secondary-color:#F0FFFA;
 }