$font-family: 'Inter', sans-serif;

// Colors
$primary-color: #45AC8B;
$secondary-color:#F0FFFA ;
$success-color:#2D715B;
$white-color: #FFFFFF;
$danger-color:#B42318;
$gray:#696871;

// Background colors
$primary-bg-color: #45AC8B;
$secondary-bg-color: #F0FFFA ;
$bg-white: #FFFFFF;
$bg-grey: #F7F7FB;

body {
padding-right: 0 !important;
   overflow: auto !important;
}