.f-14{
    font-size: 14px !important;
}
.f-16{
    font-size: 16px !important;
}
.f-24{
    font-size: 24px !important;
}
.font-weight-400{
    font-weight: 400 !important;
}
.font-weight-600{
    font-weight: 600 !important;
}