.m-auto{
    margin: 0px auto !important;
}

// margin-top 
.mt-5{
    margin-top: 5px !important;
}
.mt-10{
    margin-top: 10px !important;
}
.mt-15{
    margin-top: 15px !important;
}
.mt-20{
    margin-top: 20px !important;
}
.mt-30{
    margin-top: 30px !important;
}
.ml-5{
    margin-left: 5px !important;
}
.mr-5{
    margin-right: 5px !important;
}