// Responsive

// Mobile view
@media screen and (min-width: 200px) and (max-width: 600px) {
    .login-img {
        display: none !important;
    }
    .responsive-block{
        display: block !important;
    }
    .social-login-mobile{
        width: 50% !important;
        margin: 0px auto !important;
    }
    .facebook-align{
        margin-left: 0px !important;
        margin-right: 0px !important;
    }
    .login-margin{
        margin-top: 10px !important;
        justify-content: center !important;
    }
}